/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 0.8em Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             sans-serif;
  *font-size: small;
}

h2{
  margin-bottom: 1em;    
}

h3{
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}
hr{
 margin:0.5em auto;
}
a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
img { display:block;max-width:100%;height:auto}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

  ul.posts li {
    line-height: 1.75em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  padding: 0.5em;
  text-align:left;
border-radius: 15px;
word-break: break-all;
-moz-border-radius: 15px;
box-shadow: 2px 2px 3px #aaa;
}
.forkMe{
position: absolute;
top: 0; 
right: 0;
}
@media screen and (max-width:600px) {
  .site {
     width:94%;
     margin:auto;
  }
  .forkMe{
  	display:none;
  }
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
	float:right;
  }
  .site .title p{
	text-align:center;
	font-size:1.9em;
	font-family: YouYuan;
  }
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
    
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
    }
.contactItem{
  width:32%;
  padding:0 0.1em 0 0.1em;
}
      .site .footer .contact a {
        color: #8085C1;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */
 #post pre {
    border: 1px solid black;
    padding: 0.4em;
    background-color: #333;
    color: white;
	word-wrap:break-word;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
      background-color: #333;
      font-family: cursive;
    }
    .returnTop {
    position: fixed;
    _position: absolute;
    right: 4em;
    bottom: 4em;
    _bottom: auto;
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid #3592DD;
    border-radius:4px;
    background: #fff;
    box-shadow: 0 0 5px #F5F5F5;
    text-indent: -9999px;
    cursor: pointer;
}
.returnTop .s {
    position: absolute;
    top: -2px;
    _top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #3592DD;
    border-style: dashed dashed solid;
}
.returnTop .b {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 12px;
    width: 8px;
    background: #3592DD;
}
