<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>{{ page.title }}</title>
	<meta name="author" content="美哉仙來" />
	<meta name="description" content="美哉仙來的博客">
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="shortcut icon" href="/images/logo.png">
</head>
<body>

<div class="site">
  <div class="title">
    <a href="javascript:void(0)"><p>美哉仙來的博客</p></a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
         Giants:<a href="http://223.3.90.132" target="_blank"> Group Disscuss </a>|<a href="http://223.3.90.132/2014" target="_blank"> 2014 </a>
      </p>
    </div>
    <div class="contact">
      <p>
         <a href="http://wpa.qq.com/msgrd?V=3&uin=1357037184">he110建</a> &copy; since 2014-10-27
      </p>
    </div>
     <div class="contact">
      <p>
        <!-- Site Meter -->
<script type="text/javascript" src="http://s30.sitemeter.com/js/counter.js?site=s30he110jian">
</script>
<!-- Copyright (c)2009 Site Meter -->
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/he110jian"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<div class="returnTop""><a onclick="pageScroll()" href="javascript:void(0)">
<img src="/images/ball.gif" title="重返巅峰">
</a>
</div>
</body>
<script>
	function pageScroll(){
    window.scrollBy(0,-100);
    scrolldelay = setTimeout('pageScroll()',100);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0) clearTimeout(scrolldelay);
}
</script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'he110jianblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
