<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="shortcut icon" href="/blog/images/logo.png">
</head>
<body>

<div class="site">
  <div class="title">
    <a href="javascript:void(0)"><p>美哉仙來的博客</p></a>
    <a class="extra" href="/blog">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
         Giants:<a href="http://223.3.90.132" target="_blank"> Group Disscuss </a>|<a href="http://223.3.90.132/2014" target="_blank"> 2014 </a>
      </p>
    </div>
    <div class="contact">
      <p>
         <a href="http://wpa.qq.com/msgrd?V=3&uin=1357037184">he110建</a> &copy; since 2014-10-27
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/he110jian"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<div class="returnTop"><a onclick="pageScroll()">
  <span class="s"></span>
  <span class="b"></span>
   重返巅峰
   </a>
</div>
</body>
<script>
	window.onscroll = function() { 
		obj = getElementByClassName("returnTop");
		(document.documentElement.scrollTop+document.body.scrollTop) > 0 ? obi.setAttribute("style","display:block"): obi.setAttribute("style","display:none"); 
	} 
	function pageScroll(){
    //把内容滚动指定的像素数（第一个参数是向右滚动的像素数，第二个参数是向下滚动的像素数）
    window.scrollBy(0,-100);
    //延时递归调用，模拟滚动向上效果
    scrolldelay = setTimeout('pageScroll()',100);
    //获取scrollTop值，声明了DTD的标准网页取document.documentElement.scrollTop，否则取document.body.scrollTop；因为二者只有一个会生效，另一个就恒为0，所以取和值可以得到网页的真正的scrollTop值
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    //判断当页面到达顶部，取消延时代码（否则页面滚动到顶部会无法再向下正常浏览页面）
    if(sTop==0) clearTimeout(scrolldelay);
}
</script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'he110jianblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
