<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>{{ page.title }}</title>
	<meta name="author" content="美哉仙來" />
	<meta name="description" content="美哉仙來的博客">
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="shortcut icon" href="/images/logo.png">
</head>
<body>
<div class="site">
  <div class="title">
	<p>
    <a href="javascript:void(0)">美哉仙來的博客</a>
	</p>
    <a class="extra" href="/">home</a>
  
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
         Giants:<a href="http://223.3.90.132" target="_blank"> Group Disscuss </a>|<a href="http://223.3.90.132/2014" target="_blank"> 2014 </a>
      </p>
    </div>
    <div class="contact">
      <p>
         <a href="http://wpa.qq.com/msgrd?V=3&uin=1357037184">he110建</a> &copy; since 2014-10-27
      </p>
    </div>
     <div class="contact">
	<!-- Site Meter -->
	<a href="http://s30.sitemeter.com/stats.asp?site=s30he110jian" target="_top">
	<img src="http://s30.sitemeter.com/meter.asp?site=s30he110jian" alt="Site Meter" border="0"/></a>
	<!-- Copyright (c)2009 Site Meter -->
    </div>
  </div>
</div>
<div class="forkMe">
<a href="http://github.com/he110jian"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<div>
<div id="turnTop" class="returnTop" >
  <span class="s"></span>
  <span class="b"></span>
</div>
</body>
<script type="text/javascript">
	idTest=document.getElementById('turnTop');
	//注册当点击返回顶部的时候，回到网页顶部
	idTest.onclick=function (){
		document.body.scrollTop=0;
		sb();
		}
		
	//注册当页面发生滚动事件的时候，判断他有没有滚动条，如果有滚动条就显示“返回”，如果没有就不返回
	window.onscroll=sb;
	function sb(){
		if((document.body.scrollTop)==0){
			idTest.style.display="none";
			}else{
				idTest.style.display="block";
				}
		}
</script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'he110jianblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
